// .welcome-card ion-img {
//   max-height: 35vh;
//   overflow: hidden;
// }

ion-card {
  height: 25vh;
  background-color: purple;
  color: white;
  font-size: 10vh;
  text-align: center;
  padding-top: 15%;
}

ion-img {
  height: 75% !important;
}
